.products {
  background-color: #ffff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 150px;
  margin-bottom: 20px;
  padding: 0 30px;
}
.reveiws {
  /* align-items: self-end; */
  text-align: center;
  /* gap: 50px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.rt {
  justify-content: center;
  align-items: center;
  display: flex;
}
.rating {
  background-color: #f3f9ff;
  width: 135px;
  height: 118;
}
.rating > img {
  margin: 10px 0;
}
.r-button {
  background-color: #1b88f4;
  color: #fff;
  width: 232px;
  height: 48;
  outline: none;
  border: none;
  border-radius: 12px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.content > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4b5665;
}
.content span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4b5665;
}
.img {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.seemore {
  color: #1b88f4;
  display: flex;
  gap: 5px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  align-items: center;
}
.cricle {
  width: 44px;
  height: 44px;
  /* top: 350px; */
  left: 180px;
  border-radius: 9999px;
  border: 1px solid #e1e4e6;
  position: absolute;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product4 {
  width: 400px;
  height: 116px;
  background-color: #fff4ed;
  border-radius: 12px;
  padding: 10px;
}
.build {
  display: flex;
  gap: 10px;
  margin-bottom: 13px;
}
.build > p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4b5665;
}
.cl {
  width: 40px;
  height: 28px;
  top: 1359px;
  left: 551px;
  border-radius: 4px;
  background-color: #fff;
  color: #1b88f4;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.love > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0;
}
.l-conent {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4b5665;
}
@media screen and (max-width: 480px) {
  .product4 {
    width: 300px;
  }
}
